$font-color-primary: #575756;
$font-color-secondary: #b2b2b2;

$brand-color-primary: #b81f40;
$brand-color-secondary: #a3bbc8;

:host {
  display: block;
}

.rs_button {
  transition: color .2s ease-in, background-color .2s ease-in;
  height: 30px;
  min-width: 60px;
  border: none;
  color: $font-color-secondary;
  background: $brand-color-primary;
  cursor: pointer;

  &.stretched {
    width: 100%;
  }

  &:hover {
    background: $brand-color-secondary;
    color: $font-color-primary;
  }
}
